name: cultivar_app
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  dio: ^5.0.0 # Using a recent stable version
  pretty_dio_logger: ^1.0.0 # Using a recent stable version
  # Added packages required by the app views and services
  flutter_riverpod: ^2.3.6
  go_router: ^6.0.4
  flutter_secure_storage: ^8.0.0
  shared_preferences: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
